Host dev-bootnode-1
    HostName 138.197.138.155
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-bootnode-2
    HostName 138.197.138.202
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-explorer-1
    HostName 138.197.134.168
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-miner-1
    HostName 138.197.134.147
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-miner-2
    HostName 138.197.136.97
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-transaction-relay-1
    HostName 138.197.138.35
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-identifier-1
    HostName 138.197.134.185
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host bootnode-1
    HostName 159.203.14.117
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host bootnode-2
    HostName 159.203.36.102
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host bootnode-3
    HostName 138.197.136.186
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host explorer-1
    HostName 159.203.38.110
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host miner-1
    HostName 138.197.128.43
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host transaction-relay-1
    HostName 138.197.136.94
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host identifier-1
    HostName 190.15.64.24
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes
