Host dev-bootnode-1
    HostName 138.197.138.155
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-bootnode-2
    HostName 138.197.138.202
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-miner-1
    HostName 159.203.32.156
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-miner-2
    HostName 159.203.47.134
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-transaction-relay-1
    HostName 138.197.138.35
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host dev-identifier-1
    HostName 159.203.44.98
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host bootnode-1a
    HostName 159.203.44.174
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host bootnode-2a
    HostName 138.197.143.33
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host explorer-1
    HostName 159.203.38.110
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host transaction-relay-1
    HostName 159.203.34.231
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host transaction-relay-2
    HostName 138.197.139.97
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host identifier-1
    HostName 190.15.64.24
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host transaction-importer-1
    HostName 138.197.142.149
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes

Host phone-auth-1
    HostName 138.197.141.166
    User root
    IdentityFile ~/.ssh/id_rsa_ur_capital
    IdentitiesOnly yes
